
# Application port
PORT=3000

# MongoDB connection string
MONGO_URI=mongodb+srv://oneupdatabase:YOUR_PASSWORD@cluster0.pjmey.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0

# Cloudinary credentials
CLOUDINARY_CLOUDNAME=dtabkateo
CLOUDINARY_API_KEY=YOUR_CLOUDINARY_API_KEY
CLOUDINARY_SECRET=YOUR_CLOUDINARY_SECRET

# JWT configuration
JWTSECRET=YOUR_JWT_SECRET
JWT_EXPIRES_IN=1h

